<div class="container mt-3">
<div class="row">
<div class="mx-auto">
  
  <div class="about_page">
  <div class="about_page_image"><%= image_tag('nagasaki.webp', width: '90%', height: '90%') %></div>
  <h2 class="about_page_heading">気軽に投稿できる不動産SNS</h2> 
  <p>
    不動産物件を無料で掲載、利用者様が閲覧、お問い合わせ出来る
  </p>
  <p>
   利用者様が不動産業者様に不動産の相談を無料で出来る
  </p>
  </div>
  
 </div> 
 </div>
 </div>