<!--<div class="about_page_image">-->
<!--  %= image_tag('jyuutaku.jpg', style: "width: 100%; max-height: 300px;") %>-->
<!--</div>-->
<!--   <div class="overlay_text">-->
<!--    ご自身で物件の紹介をしてみませんか？-->
<!--   </div>-->

<!--<div class="container">-->
<!--  <div class="row no-gutters">-->


<!--  <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto rounded px-0 my-5">-->
<!--      <div class="btn-wrapper col-10 mx-auto">-->
<!--        <div class="row">-->
<!--          %= link_to "Log in",new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          %= link_to "Sign Up",new_user_registration_path, class: "btn btn-success btn-sm btn-block mb-3 sign_up" %>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          %= link_to "Guest log in ", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>-->
<!--        </div>-->

<!--      </div>-->

<!-- </div>-->
<!-- </div>-->
<!-- </div>-->

<div class="about_page_image position-relative">
  <%= image_tag 'jyuutaku.jpg', style: "width: 100%; max-height: 300px; object-fit: cover;" %>
  <div class="overlay_text position-absolute top-50 start-50 translate-middle text-center text-white" style="background-color: rgba(0, 0, 0, 0.5); padding: 10px 20px; border-radius: 10px;">
    <h2>ご自身で物件の紹介をしてみませんか？</h2>
  </div>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- ボタンカード -->
    <div class="col-md-5 col-sm-10 text-center p-4 rounded shadow-lg" style="background: #f8f9fa;">
      <h4 class="mb-4 text-dark">アカウントをお持ちですか？</h4>
      <div class="btn-wrapper">
        <%= link_to "Log in", new_user_session_path, class: "btn btn-info btn-block py-2 mb-3 w-100" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-block py-2 mb-3 w-100" %>
        <%= link_to "Guest log in", users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-block py-2 w-100" %>
      </div>
    </div>
  </div>
</div>
