<!--<h2>Results index</h2>-->

<!--<table class="table table-hover table-inverse">-->

<!--  % if @range == "User" %>-->
<!--    <tbody>-->
<!--      % @users.each do |user| %>-->
<!--        <tr>-->
<!--          <td>%= user.name %></td>-->
<!--        </tr>-->
<!--      % end %>-->
<!--    </tbody>-->
<!--  % else %>-->

<!--    <tbody>-->
<!--      % @posts.each do |post| %>-->
<!--        <tr>-->
<!--          <td>%= post.caption %></td>-->
<!--        </tr>-->
<!--      % end %>-->
<!--    </tbody>-->
<!--  % end %>-->
<!--</table>-->

<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
  <% @records.each do |user| %>
  <%= user.name %>
  <% end %>

<% elsif @model == 'post' %>
	<h3>Posts search for "<%= @content %>"</h3>
  <% @records.each do |post| %>
  <%= post.title %>
  <% end %>

<% end %>

